{% extends 'base.html' %}
{% block content %}
<h1>賃貸住宅サイトのホーム画面です</h1>
<h6>上記のメニューから操作いただけます。</h6>
<hr>
<table>
<table class='table table-striped table-bordered'>
  <thead>
    <tr>
      <h5>各種メニューの説明</h5>
    </tr>
    <tr>
      <th>ホーム画面</th>
      <th>ログアウト</th>
      <th>物件一覧</th>
      <th>ユーザー情報更新</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ホーム画面に戻れます。</td>
      <td>ログアウトを実行します。</td>
      <td>登録物件の閲覧、口コミ登録・編集・削除、口コミ閲覧が可能です。</td>
      <td>ユーザー情報の更新が可能です</td>
    </tr>
  </body>
</table>
{% endblock %}