{% extends 'base.html' %}
{% block content %}
<div class="col-10 offset-0">
<h1>口コミ一覧ページです</h1>
{% if user.is_active %}
<p><a href='{% url 'account:add_comment' %}'>口コミ新規登録</a></p>
<hr>
  <a href='{% url 'account:home' %}'>ホーム画面へ戻る</a>
  <a href='{% url 'house:list_house' %}'>物件一覧へ戻る</a>
{% endif %}
{% comment %} <hr>
<form method='get' action='{% url 'house:list_comment' %}'>
  <p>物件名: <input type='text' name='housing.name' value='{{ housing.name }}'/></p>
  <p>最寄駅からの距離: <input type='text' name='housing.distance' value='{{ housing.distance }}'/></p>
  <p>値段で並び替える:
    昇順<input type='radio' name='order_by_price' value='1' {% if ascending %}checked{% endif %}>
    降順<input type='radio' name='order_by_price' value='2' {% if descending %}checked{% endif %}>
  </p>
  <p><input type='submit' value='実行する'/></p>
</form> {% endcomment %}
<hr>
<table class="table table-striped table-bordered">
<thead>
  <tr>
      <th>ユーザー名</th>
      <th>コメント</th>
  </tr>
</thead>
<tbody>
{% for object in object_list %}
  <tr>
    <td>名前:{{ object.username }}</td>
    <td>{{ object.comment }}</td>
    <td>投稿日:{{ object.created_at }}</td>
    <td>更新日:{{ object.updated_at }}</td>
    {% if object.user.id == user.id %}
    <td><a href='{% url 'account:update_comment' object.id %}'>編集</a></td>
    <td><a href='{% url 'account:delete_comment' object.id %}'>削除</a></td>
    {% endif %}
  </tr>
{% endfor %}
</tbody>
{% endblock %}